html
  head
    title="throw the switch, it's rock 'n roll time"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/tufte.css")

  body
    #app!= content
    script(type="text/javascript", src="bundle.js")

